<section class="comment-section" id="commentComponent">
    <!-- coment -->
    <div class="comment">
        <!-- comment header -->
        <div class="comment-header">
            <div class="comment-header-data">
                <div class="image-container">
                    <img src="./images/avatars/image-maxblagun.png" alt="" id="avatar" />
                </div>
                <span class="user-name" id="userName">maxblagun</span>
                <span class="comment-time" id="timeSubmitted">2 weeks ago</span>
            </div>
        </div>
        <!-- comment content -->
        <p class="comment-content" id="content">
            Woah, your project looks awesome! How long have you been coding for? I'm still new, but think I want to dive
            into React as well soon. Perhaps you can give me an insight on where I can learn React? Thanks!
        </p>
        <!-- comment footer -->
        <div class="comment-footer">
            <div class="button-container">
                <button class="btn">
                    <img src="./images/icon-plus.svg" alt="" srcset="">
                </button>
                <span class="score" id="score">5</span>
                <button class="btn">
                    <img src="./images/icon-minus.svg" alt="" srcset="">
                </button>
            </div>
            <button class="btn-reply">
                <img src="./images/icon-reply.svg" alt="" srcset="">
                <span>Reply</span>
            </button>
        </div>
    </div>
    <!-- Replys section -->
    <div class="reply-section hidden" id="replySection">
    
    </div>
</section>