<div class="comment" id="commentReply">
    <!-- reply component header -->
    <div class="comment-header-data">
        <div class="image-container">
            <img src="./images/avatars/image-ramsesmiron.png" alt="" id="avatar" />
        </div>
        <span class="user-name" id="userName">ramsesmiron</span>
        <span class="comment-time" id="timeSubmitted">1 week ago</span>
    </div>
    <!-- reply content  -->
    <p class="comment-content" id="commentContent">
        <span class="reply-to-user" id="replyToUser">@maxblagun </span>If you're still new, I'd recommend focusing on
        the
        fundamentals of HTML, CSS, and JS before considering React. It's very tempting to jump ahead but lay a
        solid foundation first.
    </p>
    <!-- reply footer -->
    <div class="comment-footer">
        <div class="button-container">
            <button class="btn plus">
                <img src="./images/icon-plus.svg" alt="" srcset="">
            </button>
            <span class="score" id="score">4</span>
            <button class="btn minus">
                <img src="./images/icon-minus.svg" alt="" srcset="">
            </button>
        </div>
        <button class="btn-reply">
            <img src="./images/icon-reply.svg" alt="" srcset="">
            <span>Reply</span>
        </button>
    </div>

</div>