<section class="writte-comment">
    <div class="writte-comment-flex">
        <button class="btn-send">
            SEND
        </button>
        <textarea name="comment" id="comment" rows="5" class="writte-area" placeholder="Add a comment..."></textarea>
        <div class="writte-button-container">
            <div class="avatar-container">
                <img src="./images/avatars/image-juliusomo.png" alt="avatar" id="avatarWritte" />
            </div>
            <button class="btn-send">
                SEND
            </button>
        </div>
    </div>
</section>